%h1.general-title-margin Checkout
%ul.steps.list-inline
  %li.step.active
    %span.step-number 1
    %span.step-text.hidden-xs Address
  %li.step-divider
  %li.step
    %span.step-number 2
    %span.step-text.hidden-xs Delivery
  %li.step-divider
  %li.step
    %span.step-number 3
    %span.step-text.hidden-xs Payment
  %li.step-divider
  %li.step
    %span.step-number 4
    %span.step-text.hidden-xs Confirm
  %li.step-divider
  %li.step
    %span.step-number 5
    %span.step-text.hidden-xs Complete
.hidden-xs.hidden-sm
  .row
    .col-md-5
      %h3.general-subtitle Billing Address
      %p.general-info-text all fields are required
    .col-md-5.col-md-offset-1
      %h3.general-subtitle Shipping Address
.row
  .col-md-5.mb-40
    .visible-xs.visible-sm
      %h3.general-subtitle Billing Address
      %p.general-info-text all fields are required
    = render 'billing_address_form', f: f
  .col-md-5.col-md-offset-1.mb-60
    .visible-xs.visible-sm
      %h3.general-subtitle Shipping Address
    - unless @checkout.use_billing_address?
      #shipping_address_form
        = render 'shipping_address_form', f: f
    .form-group.checkbox
      %label#use_billing_address.checkbox-label
        = f.check_box :use_billing_address, class: 'checkbox-input', hidden: true
        %span.checkbox-icon
          %i.fa.fa-check
        %span.checkbox-text Use Billing Address
.general-text-align
  = render 'order_summary'