%tr
  %td
    %p.font-16 Item Total:
  %td
    %p.font-16= number_to_euro(@order_cart.order_total)
  - if @checkout.delivery_method
    %tr
      %td
        %p.font-16 Shipping:
      %td
        %p.font-16= delivery_price(@checkout.delivery_method)

  - if @checkout.cart.discount
    %tr
      %td
        %p.font-16 Discount:
      %td
        %p.font-16= number_to_euro(@checkout.cart.discount)
  %tr
    %td
      %p.font-16 Order Total:
    %td
      %p.font-16= number_to_euro(@checkout.order_total(@order_cart))