.col-xs-6.col-sm-3
  .general-thumb-wrap
    .thumbnail.general-thumbnail
      -#%img.img-shadow.general-thumbnail-img{src: product.cover_url}
      .thumb-hover
        .general-thumb-link-wrap
          = link_to product, class: 'thumb-hover-link' do
            %i.fa.fa-eye.thumb-icon{'aria-hidden': 'true'}
          = link_to shopping_cart.order_items_path(product_id: product), method: :post, class: 'thumb-hover-link', remote: true do
            %i.fa.fa-shopping-cart.thumb-icon
  .general-thumb-info
    .space-between
      %p.title= product.title
      %p.font-16.in-gold-500= number_to_euro(product.price)
    %span.divider-sm
    -#%p.lead.small= product_authors(product)