= link_to cart_path, class: 'shop-link pull-right visible-xs' do
  -if @cart.empty?
    %span.shop-icon.bc-transparent
      %span.shop-quantity &nbsp;&nbsp;
  - else
    %span.shop-icon
      %span.shop-quantity= @cart.cart_size